* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
gradlew text eol=lf
*.sh text eol=lf

*.a binary
*.so binary
*.jar binary
*.keystore binary
*.png binary
*.webp binary
*.ttf binary
*.otf binary
*.mp4 binary
*.tgs binary
*.bin binary
